.App {
  text-align: center;
  min-height: 550px;
  padding: 1rem;
}

.App-logo {
  height: 50vmin;
  margin-bottom: 1rem;
}

.App-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.75rem;
  padding-bottom: 0.5rem;
}

code {
  background: rgba(148, 163, 184, 0.5);
  border-radius: 0.25rem;
  padding: 0.2rem 0.5rem;
}
